
@{
    ViewData["Title"] = "Interns Home";
}

@model List<Intern>

    <h2 id="compH">Welcome to the employees managing page!</h2>

    <div class="text-center">
        <a id="registerButton" asp-controller="Interns" asp-action="Register" class="btn btn-success">Register An Intern</a>
        <a id="listAllButton" asp-controller="Interns" asp-action="All" class="btn btn-info">All Interns</a>
    </div>
    <h3 style="margin-top: 25px;">Last few registered interns:</h3>

    @if (Model.Any())
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Salary</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var intern in Model)
                {
                    <tr>
                        <td>
                            @intern.Name
                        </td>
                        <td>
                            @intern.Company.Name
                        </td>
                        <td>
                            @intern.Salary
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Interns" asp-action="Details" asp-route-id="@intern.Id" asp-route-slug="@intern.Name">Info</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 style="margin-top: 25px;font-weight: bolder">There are no interns registered! Be the first one to register one?</h4>
    }
