
@{
    ViewData["Title"] = "Index";
}
@model List<Company>

<h2 id="compH">Welcome to the companies managing page!</h2>

<div class="text-center">
    <a id="registerButton" asp-controller="Companies" asp-action="Register" class="btn btn-success">Register Company</a>
    <a id="listAllButton" asp-controller="Companies" asp-action="All" class="btn btn-info">All companies</a>
</div>
<h3 style="margin-top: 25px;">Last few registered companies:</h3>

@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Empoyees Count</th>
                <th>Interns Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
                <tr>
                    <td>
                        @company.Name
                    </td>
                    <td>
                        @company.Employees.Count()
                    </td>
                    <td>
                        @company.Interns.Count()
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Companies" asp-action="Details" asp-route-id="@company.Id" asp-route-slug="@company.Name">Info</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4 style="margin-top: 25px;font-weight: bolder">There are no companies registered! Be the first one to register one?</h4>
}